.cover__background-link {
    margin-left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.cover__background-link:hover {
    opacity: .25;
    cursor: pointer;
}

.cover__background-link::before {
    content: "";
    background-image: url("../../../images/cover-route-66.jpg");
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}