.photo-grid__list {
    margin: 0 auto 92px;
    padding-left: 0;
    width: 100%;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    grid-gap: 1rem;
    list-style: none;

}