.place__paragraph {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0;
}

.place__paragraph:not(:last-child) {
  margin: 0 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}