.cover__title {
  max-width: 656px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  position: relative;
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}