@import url('__link/place__link.css');
@import url('__image/place__image.css');
@import url('__title/place__title.css');
@import url('__website/place__website.css');
@import url('__url-heading/place__url-heading.css');
@import url('__description/place__description.css');
@import url('__paragraph/place__paragraph.css');
@import url('__image-item/place__image-item.css');

.place {
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) auto;
  grid-template-rows: auto auto;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image description";
  box-sizing: border-box;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 984px) {
  .place {
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    margin: 0 16px 48px 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 32px;
  }
}