.place__url-heading {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #aaa;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    width: 90%;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    align-self: flex-start;
  }
}