.place__url-heading {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .place__url-heading {
    line-height: 1;
  }
}