.place__description {
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 30px 16px;
}

@media screen and (min-width: 768px) {
  .place__description {
    grid-area: description;
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__description {
    font-size: 18px;
  }
}